
.magic-list td.column-0 {
    font-weight: bolder;
}

.magic-list td.column-1 img {
    width: 250px;
}

.magic-list td.column-2 {
    width: 50%;
}

.magic-editor-pane .magic {
    --extends: ex-record-background;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    max-height: 1200px;
}

.magic-editor-pane .magic::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
}

.magic-editor-pane .magic::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border: solid 2px #eeeeee;
    border-radius: 8px;
}

.magic-editor-pane .magic-header {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    background-color: white;
    height: 100%;
    position: relative;
    overflow: auto;
}

.magic-editor-pane .magic-header .magic-image {
    width: 50%;
    max-width: 600px;
    display: block;
    margin: 20px;
    float: left;
}

.magic-editor-pane .magic-header .magic-name {
    font-weight: bold;
}

.magic-editor-pane .sheet {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin: 5px;
    background-color: #fff8f4;
    height: calc(100% - 35px);
    position: relative;
}

.magic-editor-pane .sheet-name {
    --extends: ex-paragraph-title;
}

.magic-editor-pane .sheet-image {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.magic-modal .modal-content {
    min-width: 1200px;
    margin: 0 auto 15% auto;
}

.magic-editor-pane {
    padding: 15px;
    height: 100%;
}

.magic-editor-pane .splitter-left-pane {
    padding-right: 30px;
    min-width: 500px;
}

.magic-editor-pane .splitter-right-pane {
    padding-right: 30px;
    min-width: 400px;
    max-width: 600px;
    width: 100%;
}

.magic-editor-pane .file-loader {
    --extends: ex-file-loader;
    width: 100%;
    max-width: 600px;
}

.magic-editor-pane .file-loader.with-image {
    overflow: auto;
    display: table-cell;
}

.magic-editor-pane  .sheet-image-loader {
    width: 45%;
    display: inline-block;
}

.magic-editor-pane .file-loader img {
    width: 100%;
    display: grid;
}

.magic-editor-pane .editor-toolbar {
    --extends: ex-editor-toolbar;
}

.magic-editor-pane .form-input-text, .magic-editor .form-input-select, .magic-editor .form-input-textarea {
    display: block;
    max-width: 600px;
}

.magic-editor-pane .form-input-textarea {
    height: 300px;
}

.magic-editor-pane .form-input-textarea::-webkit-scrollbar {
    --extends: ex-scrollbar
}

.magic-editor-pane .form-input-textarea::-webkit-scrollbar-thumb {
    --extends: ex-scrollbar-thumb
}

.magic-editor-pane .magic-content {
    display: flex;
    flex-wrap: wrap;
}

.magic-editor-pane .embed-sheet {
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.magic-editor-pane .embed-sheet.selected {
    border: solid 2px red;
}

.magic-editor-pane .form-command {
    --extends: ex-command-disappear;
    position: absolute;
    margin: auto;
    text-align: center;
}

.magic-editor-pane .selected:hover .form-command {
    --extends: ex-command-appear;
}

.magic-editor-pane .delete-command {;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.magic-editor-pane .goup-command {
    left: 0;
    right: 50%;
    text-align: center;
    top: -16px;
}

.magic-editor-pane .godown-command {
    left: 0;
    right: 50%;
    text-align: center;
    bottom: -16px;
}

.magic-editor-pane .insert-before-command {
    left: 50%;
    right: 0;
    text-align: center;
    top: -16px;
}

.magic-editor-pane .insert-after-command {
    left: 50%;
    right: 0;
    text-align: center;
    bottom: -16px;
}

.magic-editor-pane  .form-command.vitamin-active:hover {
    opacity: 0.8;
}

.magic-editor-pane .user-avatar img {
    width: 40px;
    height: 40px;
}

.magic-editor-pane .user-ref-content {
    display: table;
}

.magic-editor-pane .user-ref {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: table;
}

.magic-editor-pane .user-ref div, .event-form .user-ref img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.magic-editor-pane .user-ref .user-login {
    font-weight: bolder;
}

.magic-editor-pane img.user-avatar {
    width: 40px;
    height: 40px;
}