
.board-list .board-title {
    font-size: 1.2em;
    font-weight: bolder;
    float: left;
}

.board-list img.board-icon {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}

.board-list th.column-0 {
    text-align: center;
}

.board-list td.column-0 {
    position: relative;
    height: 120px;
    min-width: 180px;
}

.board-list .column-1 {
    width: 15%;
    font-weight: bolder;
}
.board-list .column-2 {
    width: 50%;
}
.board-list .column-3 {
    width: 20%;
}

.board-modal .modal-content {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto 15% auto;
}

.board-editor-pane .splitter-left-pane {
    min-width: 400px;
    padding: 0;
}

.user-ref {
    padding-right: 80px;
}

.board-editor-pane .splitter-left-pane .form-field {
    margin: auto;
    width: 350px;
}

.board-editor-pane .splitter-right-pane {
    padding-right: 30px;
    min-width: 600px;
    width: 100%;
}

.board-editor-pane .file-loader {
    width: 350px;
    height: 539px;
}

.board-editor-pane .file-loader img {
    width: 350px;
}

.board-editor-pane .form-input-textarea {
    height: 300px;
}

.board-editor-pane .user-avatar img {
    width: 40px;
    height: 40px;
}

.board-editor-pane .user-ref-content {
    display: table;
}

.board-editor-pane .user-ref {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: table;
}

.board-editor-pane .user-ref div, .event-form .user-ref img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.board-editor-pane .user-ref .user-login {
    font-weight: bolder;
}

.board-editor-pane img.user-avatar {
    width: 40px;
    height: 40px;
}
