
.article-list td.column-3 img {
    width: 250px;
}

.article-editor-pane .article {
    --extends: ex-record-background;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    max-height: 1200px;
}

.article-editor-pane .article::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
}

.article-editor-pane .article::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border: solid 2px #eeeeee;
    border-radius: 8px;
}

.article-editor-pane .article-title {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

.article-editor-pane .paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

.article-editor-pane .paragraph-title {
    --extends: ex-paragraph-title;
}

.article-editor-pane .paragraph-image {
    display: block;
    margin: 10px;
}

.article-editor-pane .image-on-left .paragraph-image {
    --extends: ex-paragraph-image-on-left;
    width: 50%;
}

.article-editor-pane .image-on-center .paragraph-image {
    width: 95%;
}

.article-editor-pane .image-on-right .paragraph-image {
    --extends: ex-paragraph-image-on-right;
    width: 50%;
}

.article-modal .modal-content {
    min-width: 1200px;
    margin: 0 auto 15% auto;
}

.article-editor-pane {
    padding: 15px;
    height: 100%;
}

.article-editor-pane .splitter-left-pane {
    padding-right: 30px;
    min-width: 500px;
}

.article-editor-pane .splitter-right-pane {
    padding-right: 30px;
    min-width: 400px;
    max-width: 600px;
    width: 100%;
}

.article-editor-pane .file-loader {
    --extends: ex-file-loader;
    width: 100%;
    max-width: 600px;
}

.article-editor-pane .file-loader.with-image {
    overflow: auto;
    display: table-cell;
}

.article-editor-pane .file-loader img {
    width: 100%;
    display: grid;
}

.article-editor-pane .editor-toolbar {
    --extends: ex-editor-toolbar;
}

.article-editor-pane .form-input-text, .article-editor .form-input-select, .article-editor .form-input-textarea {
    --extends: ex-input-text;
}

.article-editor-pane .form-input-textarea {
    height: 300px;
}

.article-editor-pane .form-input-textarea::-webkit-scrollbar {
    --extends: ex-scrollbar
}

.article-editor-pane .form-input-textarea::-webkit-scrollbar-thumb {
    --extends: ex-scrollbar-thumb
}

.article-editor-pane .paragraph {
    overflow: auto;
    cursor: pointer;
}

.article-editor-pane .embed-paragraph {
    position: relative;
}

.article-editor-pane .embed-paragraph.selected {
    border: solid 2px red;
}

.article-editor-pane .form-command {
    --extends: ex-command-disappear;
    position: absolute;
    margin: auto;
    text-align: center;
}

.article-editor-pane .selected:hover .form-command {
    --extends: ex-command-appear;
}

.article-editor-pane .delete-command {;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.article-editor-pane .goup-command {
    left: 0;
    right: 50%;
    text-align: center;
    top: -16px;
}

.article-editor-pane .godown-command {
    left: 0;
    right: 50%;
    text-align: center;
    bottom: -16px;
}

.article-editor-pane .insert-before-command {
    left: 50%;
    right: 0;
    text-align: center;
    top: -16px;
}

.article-editor-pane .insert-after-command {
    left: 50%;
    right: 0;
    text-align: center;
    bottom: -16px;
}

.article-editor-pane .selected:hover .form-command {
    --extends: ex-command-appear;
}

.article-editor-pane  .form-command.vitamin-active:hover {
    opacity: 0.8;
}


.article-editor-pane .user-avatar img {
    width: 40px;
    height: 40px;
}

.article-editor-pane .user-ref-content {
    display: table;
}

.article-editor-pane .user-ref {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: table;
}

.article-editor-pane .user-ref div, .event-form .user-ref img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.article-editor-pane .user-ref .user-login {
    font-weight: bolder;
}

.article-editor-pane img.user-avatar {
    width: 40px;
    height: 40px;
}
