.board-list .board-title {
    font-size: 1.2em;
    font-weight: bolder;
    float: left;
}

.board-list img.board-icon {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}

.board-list th.column-0 {
    text-align: center;
}

.board-list td.column-0 {
    position: relative;
    height: 120px;
    min-width: 180px;
}

.board-list .column-1 {
    width: 15%;
    font-weight: bolder;
}
.board-list .column-2 {
    width: 50%;
}
.board-list .column-3 {
    width: 20%;
}

/*
.event-form .modal-content {
    width: 800px;
}

.event-form .file-loader {
    width:200px;
    height:100px;
    overflow: hidden;
}

.event-form .file-loader img {
    width:100%;
}

.event-form .user-avatar img {
    width: 40px;
    height: 40px;
}

.event-form .user-ref-content {
    display: table;
}

.event-form .user-ref {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: table;
}

.event-form .user-ref div, .event-form .user-ref img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.event-form .user-ref .user-login {
    font-weight: bolder;
}

.event-form img.user-avatar {
    width: 40px;
    height: 40px;
}

.user-ref {
    padding-right: 80px;
}
 */