
.comments-editor .page-container {
    margin: 20px;
    max-height: 250px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.comments-editor .page-container div {
    padding: 5px;
}

.comments-editor .page-container div:nth-child(2n) {
    background-color: whitesmoke;
}

.comments-editor .comment-date {
    font-weight: bolder;
}

.comments-editor .comment-remove {
    width: 1em;
    height: 1em;
    float: right;
}

.comments-editor .comment-remove:hover {
    opacity: 0.6;
    cursor: pointer;
}

.comments-editor .page-container::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
}

.comments-editor .page-container::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border: solid 2px #eeeeee;
    border-radius: 8px;
}
