.ex-form-input {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    background-color: #f9f9f9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    overflow: auto;
}

.form-label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-row-container {
    margin-top: 5px;
}

.form-line-container {
    display: flex;
    margin-top: 5px;
}

.form-field.vitamin-active .form-label {
    color: black;
}

.form-field.vitamin-inactive .form-label {
    color: #dddddd;
}

.form-input-text, .form-input-password, .form-input-select, .form-input-textarea {
    --extends: ex-form-input;
    width: 100%;
}

.form-input-date {
    --extends: ex-form-input;
}

.editor-toolbar
{
    border:solid 1px #ddd;
    background:#e0e0e0;
    border-radius:3px;
}

.editor-toolbar > span
{
    cursor:pointer;
}

.editor-toolbar > span:hover
{
    text-decoration:underline;
}

.form-input-textarea {
    height: 8em;
}

.form-input-text:focus, .form-input-password:focus, .form-input-select:focus, .form-input-textarea:focus {
    background-color: #f2f2f2;
    outline: none;
    border-bottom: 1px solid #aaa;
}

.form-input-select-option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.form-input-select-option:checked {
    background-color: sandybrown;
    font-weight: bold;
}

.form-field.vitamin-active .form-input-text, .form-field.vitamin-active .form-input-password {
    color: black;
}

.form-field.vitamin-inactive .form-input-text, .form-field.vitamin-inactive .form-input-password {
    color: #cccccc;
}

.form-message {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

/* Extra styles for the cancel button */
.form-cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.form-imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.form-avatar {
    width: 40%;
    border-radius: 50%;
}

.form-field {
    padding: 5px;
}

.form-password {
    float: right;
    padding-top: 16px;
}

/* The container */
.form-checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-checkmark-container.vitamin-active {
    cursor: pointer;
}

.form-checkmark-container.vitamin-inactive {
    cursor: default;
}

.form-checkmark-label {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 25px;
    align-items: center;
}

/* Hide the browser's default checkbox */
.form-checkmark-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.form-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eeeeee;
}

.form-line-container .form-checkmark-container {
    margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.form-checkmark-container.vitamin-active:hover input ~ .form-checkmark {
    background-color: #cccccc;
}

/* When the checkbox is checked, add a blue background */
.form-checkmark-container.vitamin-active input:checked ~ .form-checkmark {
    background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.form-checkmark-container.vitamin-inactive input:checked ~ .form-checkmark {
    background-color: #cccccc;
}

.form-checkmark-container.vitamin-active .form-checkmark-label {
    color: black;
}

.form-checkmark-container.vitamin-inactive .form-checkmark-label {
    color: #dddddd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-checkmark-container input:checked ~ .form-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-checkmark-container .form-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The container */
.form-radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-radio-container.vitamin-active {
    cursor: pointer;
}

.form-radio-container.vitamin-inactive {
    cursor: default;
}

.form-radio-label {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 25px;
    align-items: center;
}

/* Hide the browser's default radio button */
.form-radio-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.form-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.form-line-container .form-radio-container {
    margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.form-radio-container.vitamin-active:hover input ~ .form-radio {
    background-color: #cccccc;
}

/* When the checkbox is checked, add a blue background */
.form-radio-container.vitamin-active input:checked ~ .form-radio {
    background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.form-radio-container.vitamin-inactive input:checked ~ .form-radio {
    background-color: #cccccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-radio-container input:checked ~ .form-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-radio-container .form-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-radio-container.vitamin-active .form-radio-label {
    color: black;
}

.form-radio-container.vitamin-inactive .form-radio-label {
    color: #dddddd;
}

.form-dropdown-list {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.form-dropdown-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 55px 5px 5px;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
}

.form-dropdown-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 3px;
    right: 10px;
    top: 30%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.form-dropdown-list .anchor:after:hover {
    opacity: 0.5;
}

.form-dropdown-list ul.items {
    position: absolute;
    padding: 5px 5px 5px 5px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
}

.form-dropdown-list ul.items li {
    list-style: none;
}

.form-dropdown-list ul.items li:hover {
    background-color: sandybrown;
    cursor: pointer;
}

.form-dropdown-list .visible.items {
    display: block;
}








/* The switch - the box around the slider */
.form-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.form-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.form-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.form-toggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.form-toggle input:checked + .slider {
    background-color: #2196F3;
}

.form-toggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.form-toggle input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.form-toggle .slider.round {
    border-radius: 34px;
}

.form-toggle .slider.round:before {
    border-radius: 50%;
}


.vitamin-image {
    overflow: auto
}


.form-switch-wrapper *{
    padding: 0;
    margin: 0;
}
.form-switch-radio {
    position: relative;
    display: table;
    background: sandybrown;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    height: 2.5em;
}
.form-switch-radio input[type=radio]{
    display: none;
}
.form-switch-radio label{
    color: black;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 150px;
    margin: auto;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.form-switch-option-slider {
    margin:0;
    padding:0;
    background: rgba(255,255,255,.3);
    height: 1.7em;
    position: absolute;
    top: 0.4em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.form-ref-container, .form-ref-current {
    display: table;
}

.form-ref-select, .form-ref-current-envelope, .form-ref-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.form-ref-container .form-command {
    width: 10px;
    height: 10px;
    padding: 10px;
}

.form-ref-current {
    background-color: #f0f0f0;
}
