
.board-editor-page .description {
    --extends: ex-info-page-description;
}

.board-editor {
    --extends: ex-info-container;
}

.board-editor .splitter-left-pane .form-field {
    margin: auto;
    width: 350px;
}

.board-editor .splitter-left-pane {
    min-width: 500px;
    padding: 0;
}

.board-editor .splitter-right-pane {
    padding-right: 30px;
}

.board-editor .file-loader {
    --extends: ex-file-loader;
    width: 350px;
    height: 539px;
}

.board-editor .file-loader img {
    width: 350px;
}

.board-editor .editor-toolbar {
    --extends: ex-editor-toolbar;
}

.board-editor .form-input-text, .board-editor .form-input-textarea {
    --extends: ex-input-text;
}

.board-editor .form-input-textarea {
    height: 300px;
}

.board-editor .form-input-textarea::-webkit-scrollbar {
    --extends: ex-scrollbar
}

.board-editor .form-input-textarea::-webkit-scrollbar-thumb {
    --extends: ex-scrollbar-thumb
}
