
.new-articles .search {
    --extends: ex-info-background-color;
}

.new-articles .search-input-text {
    --extends: ex-search-input-text;
}

.new-articles-title.header-container {
    --extends: ex-info-header-container;
}

.new-articles-title .header-left-image {
    --extends: ex-page-header-left-image;
}

.new-articles-title .header-right-image {
    --extends: ex-page-header-right-image;
}

.new-articles-title .header-text {
    --extends: ex-header-text
}

.new-articles-content {
    --extends: ex-record-content, ex-info-background-color;
}

.new-articles-content .article-title {
    --extends: ex-record-title;
}

.new-articles-content .paragraph-title {
    --extends: ex-paragraph-title;
}

.new-articles-content .article {
    --extends: ex-record-container, ex-record-down-clip;
}

.new-articles-content .article .show-votes {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.new-articles-content .article .likes-icon {
    --extends: ex-likes-icon;
}

.new-articles-content .article .likes-value {
    --extends: ex-vote-values;
}

.new-articles-content .article .dislikes-icon {
    --extends: ex-dislikes-icon;
}

.new-articles-content .article .dislikes-value {
    --extends: ex-vote-values;
}

.new-articles-content .paragraph::after {
    --extends: ex-record-end-mask;
}

.new-articles-content .paragraph-image {
    --extends: ex-paragraph-image;
}

.new-articles-content .image-on-left .paragraph-image {
    --extends: ex-paragraph-image-on-left;
}

.new-articles-content .image-on-right .paragraph-image {
    --extends: ex-paragraph-image-on-right;
}

.new-articles-content .paragraph-container {
    --extends: ex-paragraph-container;
}

.themes-about-game .search {
    --extends: ex-info-background-color;
}

.themes-about-game .search-input-text {
    --extends: ex-search-input-text;
}

.themes-about-game-content {
    --extends: ex-record-content, ex-info-background-color;
}

.theme-header {
    position: relative;
    text-align: center;
}

.theme-header .theme-title {
    --extends: ex-header-text;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme {
    --extends: ex-record-container, ex-record-down-clip;
}

.scenario-editor .scenario-title {
    --extends: ex-record-title;
}

.scenario-editor .scenario {
    --extends: ex-record-container;
}

.scenario-editor .scenario-image {
    width: 600px;
}

.scenario-editor .scenario-story-title {
    --extends: ex-paragraph-title;
}

.scenario-editor .scenario-victory-title {
    --extends: ex-paragraph-title;
}

.scenario-editor .scenario-special-rules-title {
    --extends: ex-paragraph-title;
}

.newspaper-title.header-container {
    --extends: ex-info-header-container;
}

.newspaper-title .header-left-image {
    --extends: ex-page-header-left-image;
}

.newspaper-title .header-right-image {
    --extends: ex-page-header-right-image;
}

.newspaper-title .header-text {
    --extends: ex-header-text
}

.newspaper {
    --extends: ex-info-container;
}

.newspaper-container {
    --extends: ex-record-background;
}

@media screen and (max-width: 900px) {
    .newspaper-container {
        column-count: 1;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    .newspaper-container {
        column-count: 2;
    }
}

@media screen and (min-width: 1500px) {
    .newspaper-container {
        column-count: 3;
    }
}

.newspaper .article-title {
    display: none;
}

.newspaper .paragraph-title {
    --extends: ex-paragraph-title;
}

.newspaper .paragraph-image {
    --extends: ex-paragraph-image;
}

.newspaper .image-on-left.paragraph-image {
    --extends: ex-paragraph-image-on-left;
}

.newspaper .image-on-right.paragraph-image {
    --extends: ex-paragraph-image-on-right;
}

.newspaper .votes-container {
    text-align: center;
}

.newspaper .show-votes {
    display: inline-block;
    margin: auto
}

.newspaper .likes-icon {
    --extends: ex-likes-icon;
}

.newspaper .likes-value {
    --extends: ex-vote-values;
}

.newspaper .dislikes-icon {
    --extends: ex-dislikes-icon;
}

.newspaper .likes-icon:hover {
    --extends: ex-vote-icon-hover;
}

.newspaper .dislikes-icon:hover {
    --extends: ex-vote-icon-hover;
}

.newspaper .dislikes-value {
    --extends: ex-vote-values;
}

.contribute-title.header-container {
    --extends: ex-info-header-container;
}

.contribute-title .header-left-image {
    --extends: ex-page-header-left-image;
}

.contribute-title .header-right-image {
    --extends: ex-page-header-right-image;
}

.contribute-title .header-text {
    --extends: ex-header-text
}

.scenario-editor-page .description {
    --extends: ex-info-page-description;
}

.scenario-editor {
    --extends: ex-info-container;
}

.scenario-editor .splitter-left-pane {
    min-width: 650px;
    padding: 0;
}

.scenario-editor .splitter-right-pane .form-field {
    margin: auto;
}

.scenario-editor .splitter-right-pane {
    padding-right: 30px;
    width: 100%;
}

.scenario-editor .splitter-left-pane .scenario {
    margin: auto;
    padding-right: 10px;
}

.scenario-editor .editor-toolbar {
    --extends: ex-editor-toolbar;
}

.scenario-editor .form-input-text, .scenario-editor .form-input-textarea {
    --extends: ex-input-text;
}

.scenario-editor .form-input-textarea {
    height: 300px;
}

.scenario-editor .form-input-textarea::-webkit-scrollbar {
    --extends: ex-scrollbar
}

.scenario-editor .form-input-textarea::-webkit-scrollbar-thumb {
    --extends: ex-scrollbar-thumb
}

.your-proposals .search {
    --extends: ex-info-background-color;
}

.your-proposals .search-input-text {
    --extends: ex-search-input-text;
}

.your-proposals-title.header-container {
    --extends: ex-info-header-container;
}

.your-proposals-title .header-left-image {
    --extends: ex-page-header-left-image;
}

.your-proposals-title .header-right-image {
    --extends: ex-page-header-right-image;
}

.your-proposals-title .header-text {
    --extends: ex-header-text
}

.your-proposals-content {
    --extends: ex-record-content, ex-info-background-color;
}

.your-proposals-content .article-title {
    --extends: ex-record-title;
}

.your-proposals-content .paragraph-title {
    --extends: ex-paragraph-title;
}

.your-proposals-content .article {
    --extends: ex-record-container, ex-record-down-clip;
}

.your-proposals-content .article .paragraph::after {
    --extends: ex-record-end-mask;
}

.your-proposals-content .article .paragraph-image {
    --extends: ex-paragraph-image;
}

.your-proposals-content .article .image-on-left .paragraph-image {
    --extends: ex-paragraph-image-on-left;
}

.your-proposals-content .article .image-on-right .paragraph-image {
    --extends: ex-paragraph-image-on-right;
}

.your-proposals-content .article .paragraph-container {
    --extends: ex-paragraph-container;
}

.your-proposals-content .scenario-title {
    --extends: ex-record-title;
}

.your-proposals-content .scenario {
    --extends: ex-record-container;
    position: relative;
}

.your-proposals-content .scenario-image {
    width: 100%;
}

.your-proposals-content .scenario-story-title {
    --extends: ex-paragraph-title;
}

.your-proposals-content .scenario-victory-title {
    --extends: ex-paragraph-title;
}

.your-proposals-content .scenario-special-rules-title {
    --extends: ex-paragraph-title;
}

.your-proposals-content .scenario-content {
    max-height: 300px;
    overflow: hidden;
}

.your-proposals-content .scenario-content::after {
    --extends: ex-record-end-mask;
}

.your-proposals-content .map {
    --extends: ex-record-container;
    position: relative;
}

.your-proposals-content .board-title {
    --extends: ex-record-title;
}

.your-proposals-content .board-image {
    width:350px;
}

.your-proposals-content .board-description {
    height: 150px;
    overflow: hidden;
    position: relative;
}

.your-proposals-content .board-description::after {
    --extends: ex-record-end-mask;
}