/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal .form-input-textarea::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
}

.modal .form-input-textarea::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border: solid 2px #eeeeee;
    border-radius: 8px;
}

.modal-title {
    height: 2em;
    border-bottom: 2px solid #0f0f0f;
    margin-bottom: 16px;
}

.modal-title-text {
    font-family: CenturyGothicStd, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.modal a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.9em;
}

.modal-title-close {
    width: 1.5em;
    height: 1.5em;
    float: right;
}

.modal-title-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    min-width: 500px;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
}

/* Add Zoom Animation */
.modal-animate {
    -webkit-animation: modal-animatezoom 0.6s;
    animation: modal-animatezoom 0.6s
}

@-webkit-keyframes modal-animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes modal-animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}