
.search-input-text {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    padding: 5px 10px;
    margin: 15px 15px;
    display: inline-block;
    vertical-align: middle;
    background-color: #f9f9f9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.search-input-text:focus {
    background-color: #f2f2f2;
    outline: none;
    border-bottom: 1px solid #aaa;
}

.vitamin-active .search-input-text {
    color: black;
}

.vitamin-inactive .search-input-text {
    color: #cccccc;
}

.search-button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 50px;
}

.vitamin-active .search-button {
    background-image: url("../images/site/search-button.png");
}

.vitamin-inactive .search-button {
    background-image: url("../images/site/search-button-inactive.png");
}

.vitamin-active .search-button:hover {
    opacity: 0.8;
}

.new-articles .search {
    background-color: #f8f2de;
}

.new-articles .search-input-text {
    background-color: #e9ddbe;
}

.new-articles-title.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    background-color: #f8f2de;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.new-articles-title .header-left-image {
    position: absolute;
    top: 0;
    left: 0;
}

.new-articles-title .header-right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.new-articles-title .header-text {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    z-index: 11;
}

.new-articles-content {
    padding: 10px;
    background-color: #f8f2de;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    grid-auto-rows: 20px;
}

.new-articles-content .article-title {
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
}

.new-articles-content .paragraph-title {
    font-weight: bold;
}

.new-articles-content .article {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #fff8f4;
    max-width: 600px;
    position: relative;
    max-height: 600px;
    overflow: hidden;
    cursor: pointer;
}

.new-articles-content .article .show-votes {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.new-articles-content .article .likes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/likes.png');
    vertical-align: middle;
}

.new-articles-content .article .likes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.new-articles-content .article .dislikes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/dislikes.png');
    vertical-align: middle;
}

.new-articles-content .article .dislikes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.new-articles-content .paragraph::after {
    content  : "";
    position : absolute;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, #fff8f400, #fff8f4ff 90%);
    width    : 100%;
    height   : 4em;
}

.new-articles-content .paragraph-image {
    display: block;
    margin: 10px;
    width: 50%;
}

.new-articles-content .image-on-left .paragraph-image {
    float: left;
}

.new-articles-content .image-on-right .paragraph-image {
    float: right;
}

.new-articles-content .paragraph-container {
    margin-bottom: 10px;
}

.new-articles-content .paragraph-container::after, .gallery-row::after {
    content: "";
    clear: both;
    display: table;
}

.themes-about-game .search {
    background-color: #f8f2de;
}

.themes-about-game .search-input-text {
    background-color: #e9ddbe;
}

.themes-about-game-content {
    padding: 10px;
    background-color: #f8f2de;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-rows: 20px;
}

.theme-header {
    position: relative;
    text-align: center;
}

.theme-header .theme-title {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #fff8f4;
    max-width: 600px;
    position: relative;
    max-height: 600px;
    overflow: hidden;
    cursor: pointer;
}

.articles-about-game .search {
    background-color: #f8f2de;
}

.articles-about-game .search-input-text {
    background-color: #e9ddbe;
}

.articles-about-game-title.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    background-color: #f8f2de;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.articles-about-game-title .header-left-image {
    position: absolute;
    top: 0;
    left: 0;
}

.articles-about-game-title .header-right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.articles-about-game-title .header-text {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    z-index: 11;
}

.articles-about-game-content {
    padding: 10px;
    background-color: #f8f2de;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    grid-auto-rows: 20px;
}

.articles-about-game-content .article-title {
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
}

.articles-about-game-content .paragraph-title {
    font-weight: bold;
}

.articles-about-game-content .article {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #fff8f4;
    max-width: 600px;
    position: relative;
    max-height: 600px;
    overflow: hidden;
    cursor: pointer;
}

.articles-about-game-content .article .show-votes {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.articles-about-game-content .article .likes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/likes.png');
    vertical-align: middle;
}

.articles-about-game-content .article .likes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.articles-about-game-content .article .dislikes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/dislikes.png');
    vertical-align: middle;
}

.articles-about-game-content .article .dislikes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.articles-about-game-content .paragraph::after {
    content  : "";
    position : absolute;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, #fff8f400, #fff8f4ff 90%);
    width    : 100%;
    height   : 4em;
}

.articles-about-game-content .paragraph-image {
    display: block;
    margin: 10px;
    width: 50%;
}

.articles-about-game-content .image-on-left .paragraph-image {
    float: left;
}

.articles-about-game-content .image-on-right .paragraph-image {
    float: right;
}

.articles-about-game-content .paragraph-container {
    margin-bottom: 10px;
}

.articles-about-game-content .paragraph-container::after, .gallery-row::after {
    content: "";
    clear: both;
    display: table;
}

.newspaper-title.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    background-color: #f8f2de;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.newspaper-title .header-left-image {
    position: absolute;
    top: 0;
    left: 0;
}

.newspaper-title .header-right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.newspaper-title .header-text {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    z-index: 11;
}

.newspaper {
    padding: 15px;
    background-color: #f8f2de;
    height: 100%;
}

.newspaper-container {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #fff8f4;
}

@media screen and (max-width: 900px) {
    .newspaper-container {
        column-count: 1;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    .newspaper-container {
        column-count: 2;
    }
}

@media screen and (min-width: 1500px) {
    .newspaper-container {
        column-count: 3;
    }
}

.newspaper .article-title {
    display: none;
}

.newspaper .paragraph-title {
    font-weight: bold;
}

.newspaper .paragraph-image {
    display: block;
    margin: 10px;
    width: 50%;
}

.newspaper .image-on-left.paragraph-image {
    float: left;
}

.newspaper .image-on-right.paragraph-image {
    float: right;
}

.newspaper .votes-container {
    text-align: center;
}

.newspaper .show-votes {
    display: inline-block;
    margin: auto
}

.newspaper .likes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/likes.png');
    vertical-align: middle;
}

.newspaper .likes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.newspaper .dislikes-icon {
    display: table-cell;
    width: 38px;
    height: 33px;
    background-image: url('../images/site/dislikes.png');
    vertical-align: middle;
}

.newspaper .likes-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.newspaper .dislikes-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.newspaper .dislikes-value {
    display: table-cell;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.contribute-title.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    background-color: #f8f2de;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.contribute-title .header-left-image {
    position: absolute;
    top: 0;
    left: 0;
}

.contribute-title .header-right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.contribute-title .header-text {
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
    z-index: 11;
}

.theme-editor-page .description {
    padding: 15px;
    background-color: #f8f2de;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.theme-editor {
    padding: 15px;
    background-color: #f8f2de;
    height: 100%;
}

.theme-editor .file-loader {
    width: 450px;
    height: 150px;
    border: solid #555555;
}

.theme-editor .editor-toolbar
{
    max-width: 450px;
    border:solid 1px #ddd;
    background:#e0e0e0;
    border-radius:3px;
}

.theme-editor .form-input-text, .theme-editor .form-input-select, .theme-editor .form-input-textarea {
    display: block;
    max-width: 450px;
    background-color: #e9ddbe;
}

.theme-editor .form-input-textarea {
    height: 300px;
}

.theme-editor .theme {
    float: right;
    margin-right: 50px;
}

.article-editor .article {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-right: 15px;
    background-color: #fff8f4;
    margin-top: 0;
    margin-bottom: 0;
}

.article-editor .article-title {
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-family: Carolingia, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0.1em #ffffff, 1px -1px 0.1em #ffffff, 1px -1px 0.2em #ffffff, -1px 1px 0.2em #ffffff, -1px 1px 0.3em #ffffff, 1px -1px 0.3em #ffffff;
}

.article-editor .paragraph-title {
    font-weight: bold;
}

.article-editor .paragraph-image {
    display: block;
    margin: 10px;
}

.article-editor .image-on-left .paragraph-image {
    float: left;
    width: 50%;
}

.article-editor .image-on-center .paragraph-image {
    width: 95%;
}

.article-editor .image-on-right .paragraph-image {
    float: right;
    width: 50%;
}

.article-editor-page .description {
    padding: 15px;
    background-color: #f8f2de;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.article-editor {
    padding: 15px;
    background-color: #f8f2de;
    height: 100%;
}

.article-editor .file-loader {
    width: 100%;
    max-width: 600px;
    border: solid #555555;
}

.article-editor .file-loader.with-image {
    overflow: auto;
    display: table-cell;
}

.article-editor .file-loader img {
    width: 100%;
    display: grid;
}

.article-editor .editor-toolbar
{
    max-width: 600px;
    border:solid 1px #ddd;
    background:#e0e0e0;
    border-radius:3px;
}

.article-editor .form-input-text, .article-editor .form-input-select, .article-editor .form-input-textarea {
    display: block;
    max-width: 600px;
    background-color: #e9ddbe;
}

.article-editor .form-input-textarea {
    height: 300px;
}

.article-editor .paragraph {
    overflow:auto;
    cursor: pointer;
}

.article-editor .embed-paragraph {
    position: relative;
}

.article-editor .embed-paragraph.selected {
    border: solid 2px red;
}

.article-editor .form-command {
    opacity: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.article-editor .selected:hover .form-command {
    opacity: 1;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.article-editor .delete-command {;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.article-editor .goup-command {
    left: 0;
    right: 50%;
    text-align: center;
    top: -16px;
}

.article-editor .godown-command {
    left: 0;
    right: 50%;
    text-align: center;
    bottom: -16px;
}

.article-editor .insert-before-command {
    left: 50%;
    right: 0;
    text-align: center;
    top: -16px;
}

.article-editor .insert-after-command {
    left: 50%;
    right: 0;
    text-align: center;
    bottom: -16px;
}

.article-editor .selected:hover .form-command {
    opacity: 1;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.article-editor  .form-command.vitamin-active:hover {
    opacity: 0.8;
}


